server:
  port: 8080


spring:
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/library_management_sys?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    username: root
    password: 123456

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        show_sql: true

  mail:
    host: sandbox.smtp.mailtrap.io
    port: 587
    username: 29c342e4758b48
    password: 0402fcc4e52d69
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  servlet:
    multipart:
      max-file-size: 20MB
      max-request-size: 20MB


jwt:
  secret-key: 6acb40f7f0bd7ae1c478cae80d776834e3ea21a955d06d5b4a7ff05a63b8f975
  expiration: 86400000      # 1 ngày (24h)
  refresh-expiration: 604800000   # 7 ngày

logging:
  level:
    root: INFO
    org.springframework.security: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE



