spring:
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/library_management_sys?useSSL=false&serverTimezone=UTC
    username: root
    password: 123456

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        show_sql: true

  mail:
    host: sandbox.smtp.mailtrap.io
    port: 587
    username: 29c342e4758b48
    password: 0402fcc4e52d69
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true

